body {
    background-image: url(../images/textures/45-degree-fabric-light.png);
    background-color: #2D3047;
}

main {
    text-align: start;
    width: 60%;
    background-color: #d8d4d4;
    margin: 5vh auto;
    padding: 1.5vh 3vw;
    font-family: "PT Sans Caption";
}

h2 {
    font-size: 2em;
    font-family: "Bree serif";
    font-weight: 700;
}

h3 {
    font-family: "Patua One";
    font-size: 1.4em;
    font-weight: 400;
}

p {
    font-size: 1em;
    text-align: left;
}


/*   CONFIG PAGE PRADŽIA   */

.highlight {
    margin: 5px 10px;
    font-weight: 800;
    font-size: 1.2em;
}

.goTo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8em;
    position: absolute;
    top: 40%;
    right: 4%;
    transform: translateY(-50%);
    background-image: url(../images/textures/45-degree-fabric-light.png);
    background-color: #d8d4d4;
    padding: 0.5em;
    border: 3px solid rgb(102, 102, 102);
    z-index: 1;
    text-align: center;

}

.goTo p {
    margin: 0;
    padding: 0.5em;
    font-weight: 700;
}

.rightSide {
    padding: 0.6em 0em;
    background-color: #b4b4b4;
    transition: all 0.3s ease 0s;
    border-radius: 0.5em;
    width: 90%;
    justify-self: center;
}
.rightSide:hover {
    background-color:#919191;
}

.cfgCopy {
    margin: 10px 0px;
    padding: 1%;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #959ab9;
}

.cfgCopy p {
    margin: 0;
}

.copySnippet {
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
    width: 20%;
    padding: 1% 2%;
    margin-top: 0.5%;
    background-color: #5695bd;
    border: 2px solid rgb(95, 95, 95);
    transition: all 0.3s ease 0s;
}

.copySnippet:hover {
    background-color: #457491;
}

.bendras {
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}

.commands p {
    margin-left: 1em;
    user-select: none;
    font-style: italic;
    font-size: 0.8em;
}

.cfgCopy .commands li {
    margin-top: 0.3em;
}

/*   CONFIG PABAIGA   */

/*   TIPS AND TRICKS PRADŽIA   */

.tips li {
    font-weight: 800;
    font-size: 1.4em;
    margin-top: 2em;
}

.peeking li {
    font-size: 1em;
    font-weight: 600;
    list-style: none;
    margin-top: 1.2em;
}
