main {
    text-align: start;
}

/*   kur visas content bus   */
.confContent {
    width: 60%;
    background-color: rgb(219, 219, 219);
    margin: 5vh auto;
    padding: 1.5vh 3vw;
}

/*   laikinam didesnes raides   */
p {
    font-size: 1.1em;
    text-align: left;
}

.highlight {
    background-color: rgb(172, 207, 233);
    padding: 3px 10px;
    font-weight: bold;
}

.goTo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    position: fixed;
    top: 50%;
    right: 0;
    /*   transform kad būtų lygiai vidury   */
    transform: translateY(-50%);
}

.rightSide {
    padding: 2vh 3vw;
    background-color:yellowgreen;
    transition: all 0.3s ease 0s;
}
.rightSide:hover {
    background-color:rgb(129, 167, 119);
}

.olStyle {
    padding: 0;
    list-style: none;
}
.olStyle li {
    margin-top: 8%;
}

.cfgCopy {
    padding: 1%;
    border: 4px double black;
    background-color: rgb(184, 184, 184);
}

.copySnippet {
    cursor: pointer;
    text-align: center;
    float: right;
    width: 20%;
    padding: 1% 2%;
    margin-top: 0.5%;
    background-color: rgb(122, 224, 224);
    transition: all 0.3s ease 0s;
}

.copySnippet:hover {
    background-color: rgb(29, 204, 204);
}