
/* GENERAL STYLING */

h3 {
    font-size: 1.25em;
    line-height: unset;
}


/*   PAGE TOP ir MAP ICON LIST yra style.css   */



/* INDEX MAIN */

/*   supažindinimas su puslapiu pozicija ir spalva  */
.introduction {
    display: inline-block;
    /*   idek kokia turnyro sales nuotrauka jei randi   */
    background-image: linear-gradient(to right, #dbdbdb, #f3f3f3);
    text-align: left;
    padding: 1% 2%;
    width: 80vw;
    height: 50vh;
}

/*   teksto išsidėstymas prisistatyme   */
.capsule {
    width: 50%;
    height: 80%;
}


/*   prisistatyme, mygtukas "about us"   */
.about {
    background-color: rgb(40, 40, 40);
    border: none;
    padding: 0.6em 1.5em;
}
.about:hover {
    transition: all 0.3s ease 0s;
    background-color: rgb(100, 100, 100);
}

/*   po prisistatymo, ką pamatys šiame puslapyje, išsidėstimas   */
.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px 0 100px;
}

/*   išsidėstimo block'ai   */
.items {
    display: inline-block;
    background-color:#dadada;
    width: 25vw;
    height: 50vh;
}
.items i {
    margin-top: 5vh;
}