.smokeMapBox {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.smokeMapImg {
    height: 100vh;
}

.mapSmokeIcon {
    position: absolute;
    display: flex;
    cursor: pointer;
    color: #d6d6d6;
    opacity: 0.8;
    transition: 0.4s;
}

.mapSmokeIcon:hover {
    opacity: 1;
    transition: 0.4s;
}

.smokeCount {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.8em;
    position: absolute;
    display: flex;
    left: 20%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: black;
    z-index: 1;
}

.smokeIconHolder {
    display: flex;
    /* position: absolute; */
}