.mapBox {
    position: fixed;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.mapMainImg {
    height: 80%;
}

.smokeIcon {
    position: absolute;
    /* top: 50%; */
    cursor: pointer;
    color: #d6d6d6;
    opacity: 0.5;
}

.smokeIcon:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.nadeCount {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.8em;
    position: absolute;
    /* display: flex; */
    right: 50%;
    top: 50%;
    /* transform: translateX(-50%); */
    transform: translateY(-50%);
    color: black;
    z-index: 1;
}

.bendras {
    /* display: flex; */
    /* position: relative; */
}