/* Filtru navigacija */
.filterList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10%;
    align-items: center;
    position: fixed;
    top: 15%;
    height: 60px;
    padding: 0 0.7%;
    background-color: #F0EDE9FA;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filterList a {
    display: inline-grid;
    position: relative;
    align-items: center;
    margin-left: 10%;
    top: 50%;
}

.pageBox {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#mapMainImg {
    height: 80%;
}

.smokeIcon {
    position: absolute;
    cursor: pointer;
    color: #d6d6d6;
    opacity: 0.8;
}

.smokeIcon:hover {
    opacity: 1;
    transition: 0.4s;
}

.nadeCount {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.8em;
    position: relative;
    transform: translateY(-100%);
    color: black;
    z-index: 1;
}

.smokesListMap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    column-gap: 0vw;
    row-gap: 1vw;
    margin-left: 100px;
    margin-right: 50px;
}

.smokeBoxMap {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    align-self: center;
    width: 20vh;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/textures/concrete-wall.png);
    background-color: #f0eeeb;
    border: #3D3D3D 2px solid;
    border-radius: 3px;
    transition: all 0.2s ease 0.1s;
}

.smokeBoxMap:hover {
    width: 18vh;
}

.smokeBoxMap img {
    -webkit-user-drag: none;
    width: 94%;
    border-radius: 3px;
}