@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #52575d;
}

#page-top {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
    background-color: #41444b;
}

li, a, button {
    font-family: "Comfortaa";
    font-weight: 700;
    text-decoration: none;
    color: #1a1c20;
}

.logo {
    cursor: pointer;
    width: 5%;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #fddb3a;
}

.homeBtn {
    padding: 0.5% 1.5%;
    background-color: rgba(253, 219, 58, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.homeBtn:hover {
    border-radius: 10px;
    background-color: rgba(253, 219, 58, 0.8);
    transition: all 0.3s ease 0s;
}